!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    meta( name="viewport", content="width=device-width,initial-scale=1")
    title Welcome!
  body
    #content
      
      #me
        .x
        .y
      
      #goal
      
      #balls
      
      #players
      
      // FROM QUICK CHAT DEMO
      form#chat(onsubmit='return false')
        #chatlog
        div.minmax
        input(id='myMessage', type='text', autocomplete='off')
